#combat {
    #combat-round {
        .encounters {
            h3 {
                font-size: 16px;
                font-weight: 500;
            }
        }
    }
    #combat-tracker {
        // The gap left by a combatant being dragged to a new position
        .drag-gap {
            visibility: hidden;
        }
    }
}
