<form class="{{cssClass}} crb-style{{#if isProficiencyLocked}} proficiency-lock{{/if}}" autocomplete="off">
    <aside>
        <img
            class="logo"
            src="systems/pf2e/assets/pathfinder_logo.webp"
            height="56"
            alt=""
            srcset=""
        />
        <div class="sidebar" data-group="dashboard" data-tab="sidebar">
            <!-- HEALTH -->
            {{> "systems/pf2e/templates/actors/character/sidebar/health.html"}}

            <!-- STAMINA (if enabled) -->
            {{#if hasStamina}}
                {{> "systems/pf2e/templates/actors/character/sidebar/stamina.html"}}
            {{/if}}

            <!-- ARMOR CLASS -->
            {{> "systems/pf2e/templates/actors/character/sidebar/armor-class.html"}}

            <!-- Perception -->
            {{> "systems/pf2e/templates/actors/character/sidebar/perception.html"}}

            <!-- Initiative -->
            {{> "systems/pf2e/templates/actors/character/sidebar/initiative.html"}}

            <!-- Saves -->
            {{> "systems/pf2e/templates/actors/character/sidebar/saves.html"}}

            <!-- Class DC -->
            {{> "systems/pf2e/templates/actors/character/sidebar/class-dc.html"}}

            <!-- Resistances -->
            {{> "systems/pf2e/templates/actors/character/sidebar/resistances.html"}}
        </div>
    </aside>

    <!-- HEADER -->
    {{> "systems/pf2e/templates/actors/character/partials/header.html"}}

    <!-- SHEET NAVIGATION -->
    <nav class="sheet-navigation" data-group="primary">
        <span class="navigation-title">{{localize "PF2E.TabCharacterLabel"}}</span>
        {{#unless actor.flags.pf2e.hiddenTabs.characterTab}}
        <a class="item" data-tab="character" data-tab-title="{{localize 'PF2E.TabCharacterLabel'}}">
            <i class="fas fa-address-card"></i>
        </a>
        {{/unless}}

        {{#unless actor.flags.pf2e.hiddenTabs.actionsTab}}
        <a class="item" data-tab="actions" data-tab-title="{{localize 'PF2E.TabActionsLabel'}}">
            <span class="activity-icon" style="font-size: 23px;">A</span>
        </a>
        {{/unless}}

        {{#unless actor.flags.pf2e.hiddenTabs.inventoryTab}}
        <a class="item" data-tab="inventory" data-tab-title="{{localize 'PF2E.TabInventoryLabel'}}">
            <i class="fas fa-box-open"></i>
        </a>
        {{/unless}}

        {{#unless actor.flags.pf2e.hiddenTabs.spellsTab}}
        <a class="item" data-tab="spellbook" data-tab-title="{{localize 'PF2E.TabSpellbookLabel'}}">
            <i class="fas fa-magic"></i>
        </a>
        {{/unless}}

        {{#unless actor.flags.pf2e.hiddenTabs.craftingTab}}
        <a class="item" data-tab="crafting" data-tab-title="{{localize 'PF2E.TabCraftingLabel'}}">
            <i class="fas fa-hammer"></i>
        </a>
        {{/unless}}

        {{#unless actor.flags.pf2e.hiddenTabs.proficienciesTab}}
        <a class="item" data-tab="skills" data-tab-title="{{localize 'PF2E.TabSkillsLabel'}}">
            <i class="fas fa-hand-paper"></i>
        </a>
        {{/unless}}

        {{#unless actor.flags.pf2e.hiddenTabs.featsTab}}
        <a class="item" data-tab="feats" data-tab-title="{{localize "PF2E.TabFeatsLabel"}}">
            <i class="fas fa-medal"></i>
        </a>
        {{/unless}}

        {{#unless actor.flags.pf2e.hiddenTabs.effectsTab}}
        <a class="item" data-tab="effects" data-tab-title="{{localize 'PF2E.TabEffectsLabel'}}">
            <i class="fas fa-star"></i>
        </a>
        {{/unless}}

        {{#unless actor.flags.pf2e.hiddenTabs.biographyTab}}
        <a class="item" data-tab="biography" data-tab-title="{{localize 'PF2E.Biography'}}">
            <i class="fas fa-book-reader"></i>
        </a>
        {{/unless}}

        {{#if showPFSTab}}
            <a class="item" data-tab="pfs" data-tab-title="{{localize 'PF2E.TabPathfinderSociety'}}">
                <img class="pfs-icon" alt="Pathfinder Society">
            </a>
        {{/if}}

        <a class="item hide-tabs" data-tab-title="{{localize 'PF2E.TabManageTabsLabel'}}">
            <i class="fas fa-ellipsis-v"></i>
        </a>
    </nav>

    <!-- BODY -->
    <section class="sheet-body">
        <section class="sheet-content">
            <!-- Character -->
            {{> "systems/pf2e/templates/actors/character/tabs/general.html"}}

            <!-- Actions -->
            {{> "systems/pf2e/templates/actors/character/tabs/actions.html"}}

            <!-- Crafting -->
            {{> "systems/pf2e/templates/actors/character/tabs/crafting.html"}}

            <!-- INVENTORY -->
            {{> "systems/pf2e/templates/actors/character/tabs/inventory.html"}}

            <!-- SPELLBOOK -->
            {{> "systems/pf2e/templates/actors/character/tabs/spellcasting.html"}}

            <!-- SKILLS -->
            {{> "systems/pf2e/templates/actors/character/tabs/proficiencies.html"}}

            <!-- FEATS -->
            {{> "systems/pf2e/templates/actors/character/tabs/feats.html"}}

            <!-- Effects -->
            {{> "systems/pf2e/templates/actors/character/tabs/effects.html"}}

            <!-- BIOGRAPHY -->
            {{> "systems/pf2e/templates/actors/character/tabs/biography.html"}}

            <!-- Pathfinder Society -->
            {{> "systems/pf2e/templates/actors/character/tabs/pfs.html"}}
        </section>
    </section>
</form>
