.abc-list, .item-ref-list {
    ul.abc-items, ul.item-refs {
        padding: 0;

        > li {
            display: grid;
            grid-template-columns: 26px auto 2em 1em;
            align-items: center;

            &:nth-of-type(even) {
                background-color: rgba(120, 100, 82, 0.1);
            }

            .name {
                display: block;
                margin-left: 0.25em;
                line-height: 1em;
                height: 1em;

                .fa.fa-globe {
                    padding: 0 3px;
                    float: right;
                }
            }

            .level {
                line-height: 1em;
                height: 1em;
                font-weight: bold;
            }
        }

        ul {
            padding-left: 0.5em;
            margin-top: 0;
            grid-column: 1 / 5;
            &:empty {
                display: none;
            }
        }
    }
}

.item-ref-list {
    align-items: start;
}

.form-group {
    &.form-group-trait {
        height: auto;
        margin: 2px 0;

        label {
            vertical-align: top;
        }

        > ul.abc-traits-list {
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
            flex-wrap: wrap;

            span.tag {
                float: none;
            }
        }
    }

    &.other-weapons {
        input { flex: 2; }
        select { flex: 1; }
    }

    &.additional-language {
        input { flex: 0.5; }
        span {
            flex: 2.5;
            padding-left: 4px;
        }
    }
}
